.main_div{
    color:red;
    font-size:2rem;
    text-align:center;
    border:1px #000 solid;
    border-radius:0.5rem;
    padding:1rem;
    margin:1rem;
}


p{
    color:blue;
}

body{
    font-family:'Courier New', Courier, monospace;
    background: purple;
}